@model MarketPlace.DataLayer.DTOs.Contact.TicketDetailDTO
@using MarketPlace.Application.Utils
@using MarketPlace.DataLayer.DTOs.Contact

@{
    ViewData["Title"] = Model.ticket.Title;
}

@section Styles{ 

    <link rel="stylesheet" href="~/css/ChatRoom.css"/>
}

<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="/">خانه</a></li>
                        <li>@ViewData["Title"]</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="main_content_area">
    <div class="container">
        <div class="account_dashboard">
            <div class="row">
                <div class="col-sm-12 col-md-3 col-lg-3">
                    <!-- Nav tabs -->
                    @await Component.InvokeAsync("UserSideBar");
                </div>
                <div class="col-sm-12 col-md-9 col-lg-9">
                    <!-- Tab panes -->
                    <div class="tab-content dashboard_content">

                        <div class="tab-pane fade  active show" id="account-details">
                            <h3>@ViewData["Title"]</h3>

                            <partial name="_AnswerTicketPartial" model="@(new AnswerTicketDTO{Id = Model.ticket.Id})" />

                            <ul class="messages" id="messages">
                                @if (Model.ticketMessages != null && Model.ticketMessages.Any())
                                {
                                    foreach (var message in Model.ticketMessages)
                                    {
                                        <li class="message @(message.SenderId == Model.ticket.OwnerId ? "right" : "left") appeared">
                                            <div class="avatar">
                                                <img src="/img/default/avatar.png" alt="Alternate Text">
                                            </div>
                                            <div class="text_wrapper">
                                                <div class="time">
                                                     @message.CreateDate.ToStringShamsiDate() ساعت @message.CreateDate.ToString("HH:mm")
                                                </div>
                                                <div class="text" style="font-size: 16px">
                                                    @Html.Raw(message.Text)
                                                </div>
                                            </div>
                                        </li>
                                    }
                                }
                                else
                                {
                                    <partial name="_NoItemFound" />
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
